

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* header parts */

.header{
    background-image: url('assets/Hero-bg.png');
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}

.header-container{
    height: 550px;
    width: 950px;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.header-title{
    font-weight: 800;
    font-size: 48px;
}

.header-description{
    font-size: 16px;
    font-weight: 400;
}


.header-button{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}



/* Main part */


.titles{
    display: block;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 850px;
    margin-left: 400px;
    text-align: center;
}

.main-title{
    font-weight: 800;
    font-size: 30px;
    
    text-align: center;
}

.main-description{
    font-size: 15px;
    font-weight: 400;
}

/* main part container part */

.container{
    margin-top: 200px;
    /* height: 1235px;
    width: 950px; */
    
}

.container-one{
    display: flex;
    justify-content: space-between;
    height: 350;
    width: 900px;
    /* text-align: center; */
    margin-left: 400px;
}

.one-part-one{
    height: 200px;
    width: 450px;
}

.container-one-title{
     font-size: 25px;
     font-weight: 700;
}

.container-one-description{
    font-size: 16px;
    font-weight: 400;
}

.container-one-button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    color: #0D1321;
}
